{% extends 'base.html' %}
{% block container %}
	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}

	<form action="/accounts/auth/" method="POST">{% csrf_token %}
		<label for="username">Username: </label>
		<input type="text" name="username" value="" id="username"></input>
		<label for="password">Password: </label>
		<input type="password" name="password" value="" id="password"></input>

		<input type="submit" value="LOG IN"></input>
	</form>
{% endblock%}