{% extends 'base.html' %}
{% block container %}
	<h2>Register</h2>
	<form action = "/accounts/register/" method="POST">{% csrf_token %}
		{{form}}
		<input type="submit" value="Register"></input>
	</form>
{% endblock %}
