{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}
			<ul>
				<li><a href="/articles/get/{{article.id}}">Cancel</a></li>
			</ul>
{% endblock %}

{% block container %}
	<form action="/articles/add_comment/{{article.id}}/" method="POST">{% csrf_token %}
		<ul>
			{{form.as_ul}}
		</ul>
		<input type="submit" name="submit" value="Post COmment"></input>

	</form>
{% endblock %}