{% if articles.count > 0 %}

	{% for article in articles %}
		<li>
			<a href="/articles/get/{{article.id}}">{{article.title}}</a>
		</li>
	{% endfor %}

{% else %}

	<li>Nothing to show!</li>

{% endif %}