{% extends "base.html" %}
{% load staticfiles %}
{% load article_tags %}

{% block sidebar %}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/articles/create">Create Articles</a></li>
			<li><a href="/admin/">Admin</a></li>
			<li><a href="/accounts/register">Register</a></li>
			<li><a href="/accounts/login">LogIn</a></li>
		</ul>
		
<!-- for AJAX -->
		<h3>Search</h3>
		{% csrf_token %}
		<input type="text" id="search" name="search" />
		<ul id="search-results">
			
		</ul>
{% endblock %}

{% block container %}

<h2> Language is: {{language}} </h2>
<h2> Session Language is: {{session_language}} </h2>
{% for article in articles %}
	<h4><a href='/articles/get/{{article.id}}/'>{{article.title}}</a></h4>
	<p>{{ article.body|lower|article_shorten_body:50 }}</p>
	<!-- truncatewords:"10"
	change lower to upper changes the article desc to UPPERCASE -->
	<p> {{article.likes}} people liked this article </p>
{% endfor %}
{% endblock %}
