{% extends "base.html" %}
{% load staticfiles %}
<!-- {% load static %} -->

{% block sidebar %}
			<ul>
				<li><a href="/articles/all">Articles</a></li>
			</ul>
{% endblock %}

{% block container %}

<h2>{{ article.title }}</h2>
<p> {{ article.body }} </p>

{% if article.thumbnail %}
<!-- href="{% static "css/style.css" %} -->
	<p>
		<!-- <img src="/static/{{article.thumbnail}}/" width="200" /> -->
		<!-- 5.9  {% get_static_prefix %} -->
		<img src="{% get_static_prefix %}{{article.get_thumbnail}}" width="200">
	</p>
{% endif %}


<!-- LIKES -->
<p> {{article.likes}} people liked this article </p>
<p><a href="/articles/like/{{article.id}}">Like</a></p>

<h2>Comments</h2>
<!-- this for loops displays any comments on the article -->
<!-- because comment has a foregnkey relationship with article it has a set of comments-->
{% for c in article.comment_set.all %}
<p>{{c.name}}: {{c.body}}</p>
{% endfor %}

<!-- takes you to a new webpage with a form to add comments -->
<p><a href="/articles/add_comment/{{article.id}}">Add Comment</a></p>

{% endblock %}