{% extends 'base.html' %}
{% block container %}

<h2>Contact Us</h2>
<p>
	<!-- this tells us how many steps are available inside of the wizard
	because the wizard passes an instance of the variable called the wizard 
	u could have step 0,
	the form count is dependent upon the forms we put in the urls section.  -->
	Step {{wizard.steps.step1}} of {{wizard.steps.count}}
</p>
	<!-- few validation errors -->
	{% for field in form %}
		{{field.error}}
	{% endfor %}

	<form action="/contact/" method="post">{% csrf_token %}
	<table>
	<!-- the main instance of the current form -->
	{{wizard.management_form}}
	<!-- if there are multiple forms, in our case we dont -->
	{% if wizard.form.forms %} 
		{% for form in wizard.form.forms %}
			{{form}
		{% endfor %}
	{% else %}
		{{wizard.form}}
	{% endif %}
	</table>

	<!-- check in the steps, if there is a previous step -->
	{% if wizard.steps.prev %}
	<!-- to step back to first step -->
	<button name="wizard_goto_step" type="submit" value="{{wizard.steps.first}}">"first step"</button>
	<!-- to step back to previous step -->	
	<button name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">"prev step"</button>
	{% endif %}
	<!-- this sumbit tells the wizard to moveon to the next page -->
	<input type="submit" value="Submit"></input>
	</form>
{% endblock %}