{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}
			<ul>
				<li><a href="/articles/all">Cancel</a></li>
			</ul>
{% endblock %}

{% block container %}
	<form action="/articles/create/" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<ul>
			{{form.as_ul}}
		</ul>
		<input type="submit" name="submit" value="Create Article"></input>
	<!-- "/articles/create" is a URL that takes in the create method from views.py -->
	</form>
{% endblock %}