{% extends 'base.html' %}
{% block container %}
	<h2>Profile</h2>

	{% for field in form %}
		{{field.error}}
	{% endfor %}

	<form action="/accounts/profile/" method="post">{% csrf_token %}
		{{form.as_ul}}
		<input type="submit" value="Update"></input>
	</form> 
	
{% endblock %}