{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>django_test</title>
	<!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ajax.js" %}"></script>

</head>
<body>
	<div id="page">
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/articles/create">Create Articles</a></li>
			<li><a href="/admin/">Admin</a></li>
			<li><a href="/accounts/register">Register</a></li>
			<li><a href="/accounts/login">LogIn</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">

		{% block container%}
			
		{% endblock %}
		<div class='clearfix'>
			<img src="{% static "images/egg.png" %}" width="200" />
		</div>

	</div>
	</div>
</body>
{% block footer%}
{% endblock %}
</html>